<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Change password</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<header style="margin-top: -40px" th:insert="application/mainPage :: header"></header>

<div class="container">
    <form class="form-signin" method="post" th:object="${tempUser}" th:action="@{/user/changePassword}">
        <h2 class="form-signin-heading">Change your password</h2>
        <p>
            <input hidden th:value="${'defaultemailforchangingpassword@gmail.com'}" type="text" id="email" name="email" class="form-control">
        </p>
        <p>
            <input hidden th:value="${'DefaultNameForChangingPassword'}" type="text" id="name" name="name" class="form-control" placeholder="First name">
        </p>
        <p>
            <input hidden th:value="${'DefaultSurnameForChangingPassword'}" type="text" id="surname" name="surname" class="form-control" placeholder="Last name">
        </p>
        <p>
            <input hidden th:value="${'+3808553214145'}" type="text" id="phone" name="phone" class="form-control" placeholder="Phone">
        </p>
        <p>
            <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" th:field="*{password}">
        </p>
        <p>
            <span style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" th:field="*{confirmPassword}">
        </p>
        <p>
            <span style="color: red" th:if="${#fields.hasErrors('confirmDBPassword')}" th:errors="*{confirmDBPassword}"></span>
            <input type="password" id="confirmDBPassword" name="confirmDBPassword" class="form-control" placeholder="Old password">
        </p>
        <input name="_csrf" type="hidden" value="cc75d865-a84e-4afc-a01d-f55be3951085" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
    </form>
</div>
</body>
</html>