body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid img {
    width: 300px;
    height: 433px;
    cursor: pointer;
}