<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<div th:fragment="header">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            Home
        </a>

        <div style="margin-left: 1350px" class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div sec:authorize="hasRole('ROLE_CLIENT')">
                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                </div>

                <div sec:authorize="hasRole('ROLE_SELLER')">
                    <li><a class="dropdown-item" href="#">My Products</a></li>
                </div>

                <li><a class="dropdown-item" th:href="@{/profile}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <form th:action="@{/logout}" method="post">
                    <input class="dropdown-item" type="submit" value="Logout">
                </form>
            </ul>
        </div>
    </header>
</div>
<body>

<form class="container">
    <table class="table">
        <h3 style="color: black">User details</h3>
        <tbody>
        <tr class="TableRow__TableRowElement-nly8t1-0 kTgwlZ">
            <td class="sc-idOhPF kGntgQ">Email</td>
            <td data-hj-suppress="true" class="sc-dIUggk XavQL" th:text="${user.getEmail()}"></td></tr>
        <tr class="TableRow__TableRowElement-nly8t1-0 kTgwlZ">
            <td class="sc-idOhPF kGntgQ">First Name</td>
            <td data-hj-suppress="true" class="sc-dIUggk XavQL" th:text="${user.getName()}"></td>
        </tr>
        <tr class="TableRow__TableRowElement-nly8t1-0 kTgwlZ">
            <td class="sc-idOhPF kGntgQ">Last Name</td>
            <td data-hj-suppress="true" class="sc-dIUggk XavQL" th:text="${user.getSurname()}"></td>
        </tr>
        <tr class="TableRow__TableRowElement-nly8t1-0 kTgwlZ">
            <td class="sc-idOhPF kGntgQ">Phone</td>
            <td data-hj-suppress="true" class="sc-dIUggk XavQL" th:text="${user.getPhone()}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user/update}" class="btn btn-outline-primary">Edit profile</a>
    <a th:href="@{/user/changePassword}" class="btn btn-outline-primary">Change password</a>
</form>
</body>
</html>